node-red.json
[
    {
        "id": "773cdd2a86c7b752",
        "type": "tab",
        "label": "SENSORES/ACTUADORES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe3f21d86ee20526",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "192.168.137.233",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willPayload": ""
    },
    {
        "id": "3cd515a78cadaa56",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "port": "5432",
        "database": "aiot",
        "ssl": false,
        "max": "10",
        "idle": "1000",
        "connectionTimeout": "10000",
        "user": "mari",
        "password": "linux123"
    },
    {
        "id": "ky013-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-013 Input",
        "topic": "utng/ky013",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 100,
        "wires": [["ky013-db"]]
    },
    {
        "id": "ky013-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-013",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 13, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 100,
        "wires": [["ky013-debug"]]
    },
    {
        "id": "ky013-debug",
        "type": "debug",
        "z": "773cdd2a86c7b752",
        "name": "KY-013 Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "ky037-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-037 Input",
        "topic": "utng/ky037",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 160,
        "wires": [["ky037-db"]]
    },
    {
        "id": "ky037-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-037",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 37, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 160,
        "wires": [["ky037-debug"]]
    },
    {
        "id": "ky038-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-038 Input",
        "topic": "utng/ky038",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 220,
        "wires": [["ky038-db"]]
    },
    {
        "id": "ky038-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-038",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 38, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 220,
        "wires": [["ky038-debug"]]
    },
    {
        "id": "ky016-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-016 Input",
        "topic": "utng/ky016",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 280,
        "wires": [["ky016-db"]]
    },
    {
        "id": "ky016-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-016",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 16, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 280,
        "wires": [["ky016-debug"]]
    },
    {
        "id": "ky015-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-015 Input",
        "topic": "utng/ky015",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 340,
        "wires": [["ky015-db"]]
    },
    {
        "id": "ky015-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-015",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 15, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 340,
        "wires": [["ky015-debug"]]
    },
    {
        "id": "ky022-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-022 Input",
        "topic": "utng/ky022",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 400,
        "wires": [["ky022-db"]]
    },
    {
        "id": "ky022-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-022",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 22, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 400,
        "wires": [["ky022-debug"]]
    },
    {
        "id": "ky023-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-023 Input",
        "topic": "utng/ky023",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 460,
        "wires": [["ky023-db"]]
    },
    {
        "id": "ky023-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-023",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 23, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 460,
        "wires": [["ky023-debug"]]
    },
    {
        "id": "ky029-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-029 Input",
        "topic": "utng/ky029",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 520,
        "wires": [["ky029-db"]]
    },
    {
        "id": "ky029-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-029",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 29, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 520,
        "wires": [["ky029-debug"]]
    },
    {
        "id": "ky033-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-033 Input",
        "topic": "utng/ky033",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 580,
        "wires": [["ky033-db"]]
    },
    {
        "id": "ky033-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-033",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 33, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 580,
        "wires": [["ky033-debug"]]
    },
    {
        "id": "ky036-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-036 Input",
        "topic": "utng/ky036",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 640,
        "wires": [["ky036-db"]]
    },
    {
        "id": "ky036-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-036",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 36, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 640,
        "wires": [["ky036-debug"]]
    },
    {
        "id": "ky006-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-006 Input",
        "topic": "utng/ky006",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 700,
        "wires": [["ky006-db"]]
    },
    {
        "id": "ky006-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-006",
        "query": "INSERT INTO actuator_details (user_id, actuator_id, state) VALUES (1, 6, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 700,
        "wires": [["ky006-debug"]]
    },
    {
        "id": "ky011-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-011 Input",
        "topic": "utng/ky011",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 760,
        "wires": [["ky011-db"]]
    },
    {
        "id": "ky011-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-011",
        "query": "INSERT INTO actuator_details (user_id, actuator_id, state) VALUES (1, 11, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 760,
        "wires": [["ky011-debug"]]
    },
    {
        "id": "ky031-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-031 Input",
        "topic": "utng/ky031",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 820,
        "wires": [["ky031-db"]]
    },
    {
        "id": "ky031-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-031",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 31, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 820,
        "wires": [["ky031-debug"]]
    },
    {
        "id": "ky032-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-032 Input",
        "topic": "utng/ky032",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 880,
        "wires": [["ky032-db"]]
    },
    {
        "id": "ky032-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-032",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 32, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 880,
        "wires": [["ky032-debug"]]
    },
    {
        "id": "ky027-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-027 Input",
        "topic": "utng/ky027",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 940,
        "wires": [["ky027-db"]]
    },
    {
        "id": "ky027-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-027",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 27, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 940,
        "wires": [["ky027-debug"]]
    },
    {
        "id": "ky002-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-002 Input",
        "topic": "utng/ky002",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1000,
        "wires": [["ky002-db"]]
    },
    {
        "id": "ky002-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-002",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 2, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1000,
        "wires": [["ky002-debug"]]
    },
    {
        "id": "ky003-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-003 Input",
        "topic": "utng/ky003",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1060,
        "wires": [["ky003-db"]]
    },
    {
        "id": "ky003-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-003",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 3, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1060,
        "wires": [["ky003-debug"]]
    },
    {
        "id": "ky017-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-017 Input",
        "topic": "utng/ky017",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1120,
        "wires": [["ky017-db"]]
    },
    {
        "id": "ky017-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-017",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 17, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1120,
        "wires": [["ky017-debug"]]
    },
    {
        "id": "ky028-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-028 Input",
        "topic": "utng/ky028",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1180,
        "wires": [["ky028-db"]]
    },
    {
        "id": "ky028-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-028",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 28, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1180,
        "wires": [["ky028-debug"]]
    },
    {
        "id": "ky035-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-035 Input",
        "topic": "utng/ky035",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1240,
        "wires": [["ky035-db"]]
    },
    {
        "id": "ky035-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-035",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 35, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1240,
        "wires": [["ky035-debug"]]
    },
    {
        "id": "ky039-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-039 Input",
        "topic": "utng/ky039",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1300,
        "wires": [["ky039-db"]]
    },
    {
        "id": "ky039-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-039",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 39, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1300,
        "wires": [["ky039-debug"]]
    },
    {
        "id": "ky021-input",
        "type": "mqtt in",
        "z": "773cdd2a86c7b752",
        "name": "KY-021 Input",
        "topic": "utng/ky021",
        "qos": "2",
        "datatype": "auto",
        "broker": "fe3f21d86ee20526",
        "x": 200,
        "y": 1360,
        "wires": [["ky021-db"]]
    },
    {
        "id": "ky021-db",
        "type": "postgresql",
        "z": "773cdd2a86c7b752",
        "name": "KY-021",
        "query": "INSERT INTO sensor_details (user_id, sensor_id, value) VALUES (1, 21, '{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "x": 400,
        "y": 1360,
        "wires": [["ky021-debug"]]
    },
    {
        "id": "sensor-ui-table",
        "type": "ui_table",
        "z": "773cdd2a86c7b752",
        "group": "196685b2217da2db",
        "name": "Datos de Sensores",
        "order": 1,
        "width": "20",
        "height": "20",
        "columns": [
            {"field": "sensor_id", "title": "Sensor ID"},
            {"field": "value", "title": "Valor"},
            {"field": "timestamp", "title": "Fecha/Hora"}
        ],
        "outputs": 0,
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "actuator-ui-table",
        "type": "ui_table",
        "z": "773cdd2a86c7b752",
        "group": "196685b2217da2db",
        "name": "Datos de Actuadores",
        "order": 2,
        "width": "20",
        "height": "20",
        "columns": [
            {"field": "actuator_id", "title": "Actuador ID"},
            {"field": "state", "title": "Estado"},
            {"field": "timestamp", "title": "Fecha/Hora"}
        ],
        "outputs": 0,
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "196685b2217da2db",
        "type": "ui_group",
        "name": "Datos de Sensores/Actuadores",
        "tab": "675424110a316980",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "675424110a316980",
        "type": "ui_tab",
        "name": "Monitor IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
